
/* Два и более селекторов разделяются запятой */
/* Так как это правило стоит ниже, 
ко всем ссылкам применится оранжевый цвет текста */

/* цвет основного текста background: #212121;
 */

/* втоичный цвет текста background: #757575;  */
/* Заказать услугу background: #2196F3 background: #FFFFFF; */

/* эффективные решения background: #FFFFFF;  */
/* Основной фон #E5E5E5 */


:root{
  --primery-text-color:rgba(0, 0, 0, 0,8)
  --title-text-color:#000000
  --accrnt-text-color: #2196F3
  --primery-bg-color: #ffffff 
}

body {
    background-color: #E5E5E5;

}
.logo:hover {
    color: #2196F3;
}
/* site-nav */
.site-nav .link {
    color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}
       /* --HERO-- */
.hero { color: #212121;
background-color: F5F4FA;
}
.section-title {
    color: #212121;
}

.button {
    color:var(--title-text-color);
    background-color: var(--primary-text-color);
}

ul {
    list-style: none;
}


