
/* Два и более селекторов разделяются запятой */
/* Так как это правило стоит ниже, 
ко всем ссылкам применится оранжевый цвет текста */

/* цвет основного текста background: #212121;
 */

/* втоичный цвет текста background: #757575;  */
/* Заказать услугу background: #2196F3 background: #FFFFFF; */

/* эффективные решения background: #FFFFFF;  */
/* Основной фон #E5E5E5 */

/* -------------- СТИЛИЗАЦИЯ ЛОГОТИП---------------------------------------- */


:root{
  --primery-text-color:rgba(0, 0, 0, 0,8)
  --title-text-color--:#000000
  --accrnt-text-color--: #2196F3
  --primery-white-color--: #ffffff 
}

/* -------------- СТИЛИЗАЦИЯ ДЛЯ ВСЕХ---------------------------------------- */

body {
    background-color: #E5E5E5;
     
}
.logo:hover {
    color: #2196F3;
}

/* -------------- СТИЛИЗАЦИЯ навигации---------------------------------------- */

.site-nav .link {
    color: #2196F3;
}
.site-nav .link:hover,
.site-nav .link:focus 
.site-nav {
    color: #2196F3;
}
.current-page {
  color: var(--accent-color--);
}

.site-nav .link.current {
  color: nav(--accrnt-text-color--);
}


/* -------------- СТИЛИЗАЦИЯ html---------------------------------------- */
.hero { color: #212121;
background-color: F5F4FA;
}
.section-title {
    color: #212121;
}

.button {
    color:var(--title-text-color--);
    background-color: var(--primary-text-color--);
    font-size: 24px;
    padding: 12px 24px;
    border: 1px solid black;
}

ul {
    list-style: none;
}

.button.primary {
  background-color: var(--accent-color--);
  color: var(--primery-white-color);
  border-color: transparent;
}

.button.secenodary {
    color: var(--accent-color--);
    background-color: var(--primery-white-color);
}
    


/* -------------- СТИЛИЗАЦИЯ portfolio---------------------------------------- */
/* -------------- СТИЛИЗАЦИЯ address list---------------------------------------- */
